In [1]:
import pymysql

In [2]:
connection = pymysql.connect(
    host="host.docker.internal",     
    port=5506,            
    user="admin",
    password="admin",
    database="demo_db"
)

In [7]:
import pymysql

connection = pymysql.connect(
    host="host.docker.internal",
    port=5506,
    user="admin",
    password="admin",
    database="demo_db",
    autocommit=True
)

try:
    with connection.cursor() as cursor:
        # Создание таблицы
        cursor.execute("""
            CREATE TABLE IF NOT EXISTS sales (
                id INT AUTO_INCREMENT PRIMARY KEY,
                category VARCHAR(100) NOT NULL,
                price DECIMAL(10,2) NOT NULL,
                created_at DATETIME NOT NULL
            );
        """)

        # Данные для вставки
        data = [
            ('electronics',  999.99, '2025-11-25 09:10:00'),
              ('electronics',  499.00, '2025-11-25 10:15:00'),
              ('electronics',   29.99, '2025-11-25 11:30:00'),
              ('clothes',       59.90, '2025-11-25 12:00:00'),
              ('clothes',       39.99, '2025-11-25 13:45:00'),
              ('sports',        89.00, '2025-11-25 15:20:00'),
              ('beauty',        25.50, '2025-11-25 16:10:00'),
              ('home',          75.00, '2025-11-25 18:30:00'),
              ('electronics', 1499.00, '2025-11-26 09:00:00'),
              ('electronics',   19.99, '2025-11-26 09:30:00'),
              ('clothes',       89.99, '2025-11-26 10:00:00'),
              ('clothes',       15.00, '2025-11-26 11:15:00'),
              ('sports',       150.00, '2025-11-26 12:45:00'),
              ('sports',        49.99, '2025-11-26 13:00:00'),
              ('beauty',        10.00, '2025-11-26 14:30:00'),
              ('home',         120.00, '2025-11-26 16:00:00'),
              ('electronics',  250.00, '2025-11-27 08:20:00'),
              ('electronics',   15.00, '2025-11-27 09:40:00'),
              ('clothes',       29.99, '2025-11-27 10:30:00'),
              ('clothes',      120.00, '2025-11-27 11:50:00'),
              ('sports',        60.00, '2025-11-27 12:10:00'),
              ('beauty',        45.00, '2025-11-27 13:15:00'),
              ('beauty',        80.00, '2025-11-27 14:45:00'),
              ('home',         300.00, '2025-11-27 16:20:00'),
              ('electronics',  799.00, '2025-11-28 09:30:00'),
              ('clothes',       55.00, '2025-11-28 10:10:00'),
              ('sports',       200.00, '2025-11-28 11:00:00'),
              ('beauty',        35.00, '2025-11-28 12:20:00'),
              ('home',         500.00, '2025-11-28 13:45:00'),
              ('electronics',   5.00,  '2025-11-28 15:00:00'),
              ('clothes',      250.00, '2025-11-28 16:30:00'),
        ]

        cursor.executemany("""
            INSERT INTO sales (category, price, created_at)
            VALUES (%s, %s, %s);
        """, data)

        print("Таблица создана и данные добавлены.")

finally:
    connection.close()

Таблица создана и данные добавлены.