In [1]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("postgresql+psycopg2://admin:admin@host.docker.internal:35432/demo_db")

df = pd.read_sql("SELECT version();", engine)
print(df)

ModuleNotFoundError: No module named 'pandas'

In [4]:
df = pd.read_sql("""
SELECT 
  MIN("time") AS min_time,
  MAX("time") AS max_time
FROM sales_timeseries;

""", engine)
print(df)

    min_time   max_time
0 2025-11-25 2025-11-29